header{
    height: 70px;
    background-color: black;
    color:white;
}

main{
        background-color: #2f2d2d;
}

.card img{
    width: 100%;

}

.container{
    margin:auto;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: black;
    color:white;
    width: 17%;
    margin: 10px;
}
